---
layout: default
title: Template
root: .
description: "A template."
---

<h1> Dataset </h1>
<h4> <a class="schema" href="https://schema.org/Thing">Thing</a> > 
     <a class="schema" href="https://schema.org/a">a</a> > 
     <a class="schema" href="https://schema.org/b">b</a> > 
     <a href="{{ site.rooturl }}{{ site.baseurl }}/{{ page.title }}">{{ page.title }}</a>
</h4>
{% include legend.html %}
<h3>Description:</h3>
<p>{{ page.description }}</p>
<table class="table table-bordered">
    <thead> <tr class="head">
        <th>Property</th>
        <th>Expected Type</th>
        <th>Description</th>
      </tr>
    </thead> <tbody>
      <tr class="head">
        <td colspan="3">Properties from <a href="{{ site.rooturl }}{{ site.baseurl }}/{{ page.title }}">{{ page.title }}</a></td>
      </tr>
      
      <tr class="head">
        <td colspan="3">Properties from <a class="schema" href="https://schema.org/Thing">Thing</a></td>
      </tr>
      {% include property/alternateName.html %}
      {% include property/description.html %}
      {% include property/name.html %}
    </tbody>
  </table>