      <tr>
        <td class="head" ><a href="{{ site.rooturl }}{{ site.baseurl }}/broader">broader</a></td>
        <td> <a href="{{ site.rooturl }}{{ site.baseurl }}/DefinedTerm">DefinedTerm</a> &nbsp;or <br />
          <a class="schema" href="https://schema.org/Text">Text</a> &nbsp;or <br />
          <a class="schema" href="https://schema.org/URL">URL</a></td>
        <td> The SKOS definition of <a href="https://www.w3.org/2009/08/skos-reference/skos.html#broader">broader</a>. Expected type allow referencing another DefinedTerm directly, or by termCode, or URL. </td>
      </tr>
