      <tr>
        <td class="head" ><a class="schema" href="https://schema.org/encodingFormat">encodingFormat</a></td>
        <td><a href="{{ site.rooturl }}{{ site.baseurl }}/DataFormat">DataFormat</a>&nbsp;or <br /> 
            <a class="schema" href="https://schema.org/Text">Text</a>&nbsp;or <br />
          <a class="schema" href="https://schema.org/URL">URL</a> </td>
        <td> Media type typically expressed using a <a href="{{ site.rooturl }}{{ site.baseurl }}/DataFormat">DataFormat</a> or MIME format. </td>
      </tr>
