      <tr>
        <td class="head" ><a class="schema" href="https://schema.org/exampleOfWork">exampleOfWork</a></td>
        <td> <a href="{{ site.rooturl }}{{ site.baseurl }}/ProcessHistory">ProcessHistory</a>&nbsp;or <br />
          <a href="{{ site.rooturl }}{{ site.baseurl }}/ProcessProtocol">ProcessProtocol</a> </td>
        <td> A processing history or protocol that describes the creation of this material. Processing histories/protocols and materials can form a chain, tree, or graph of linked records defining the process that changes the nature of one or more starting materials to one or more ending materials. </td>
      </tr>