  <tr>
    <td class="head" ><a class="schema" href="https://schema.org/isBasedOn">isBasedOn</a></td>
    <td> <a class="schema" href="https://schema.org/Product">Product</a>&nbsp;or <br />
      <a class="schema" href="https://schema.org/URL">URL</a> </td>
    <td> One or more products on which this {{ page.title }} is based. For example, a custom-built instrument may be an assembly of several commercial products. Unmodified instruments purchased from a vendor are still an Instrument based on a Product.</td>
  </tr>