  <tr>
    <td class="head" ><a class="schema" href="https://schema.org/measurementTechnique">measurementTechnique</a></td>
    <td> <a class="schema" href="https://schema.org/DefinedTerm">DefinedTerm</a>&nbsp;or <br />
         <a href="{{ site.rooturl }}{{ site.baseurl }}/Instrument">Instrument</a>&nbsp;or <br />
         <a class="schema" href="https://schema.org/SoftwareApplication">SoftwareApplication</a>&nbsp;or <br />
         <a class="schema" href="https://schema.org/SoftwareSourceCode">SoftwareSourceCode</a></td>
    <td> Indicates the simulation or measurement technique used in this {{ page.title }}. A type of measurement or simulation could be described with a DefinedTerm and the specific tool can be specified with Instrument, SoftwareApplication, or SoftwareSourceCode. </td>
  </tr>