  <tr>
    <td class="head" ><a href="{{ site.rooturl }}{{ site.baseurl }}/parameterControlled">parameterControlled</a></td>
    <td> <a href="{{ site.rooturl }}{{ site.baseurl }}/PropertyValue">PropertyValue</a>&nbsp;or  <br />
         <a class="schema" href="https://schema.org/Text">Text</a></td>
    <td> The parameterControlled property can indicate one or more variables that are controlled in the activity associated with the {{ page.title }}, described using DefinedTerm or as PropertyValue consisting of identifier, value, and unit. </td>
  </tr>