      <tr>
        <td class="head" ><a class="schema" href="https://schema.org/step">step</a></td>
        <td> <a class="schema" href="{{ site.rooturl }}{{ site.baseurl }}/{{ page.title }}">{{ page.title }}</a> </td>
        <td> This specifies the sequence of steps in this {{ page.title }}. This property may be used recurively for complex {{ page.title }} descriptions. This property is the same as <a class="schema" href="https://schema.org/itemListElement">itemListElement</a>.</td>
      </tr>