      <tr>
        <td class="head" ><a class="schema" href="https://schema.org/supply">supply</a></td>
        <td> <a href="{{ site.rooturl }}{{ site.baseurl }}/Material">Material</a> </td>
        <td> The starting state or source materials used during the process. I.e., <a class="schema" href="https://schema.org/supply">supply</a> is the state of the material(s) before the process or process step and <a class="schema" href="https://schema.org/material">material</a> is the state of the material after the proces or process step.</td>
      </tr>