  <tr>
    <td class="head" ><a class="schema" href="https://schema.org/tool">tool</a></td>
    <td> <a class="schema" href="https://schema.org/DefinedTerm">DefinedTerm</a>&nbsp;or <br />
         <a href="{{ site.rooturl }}{{ site.baseurl }}/Instrument">Instrument</a></td>
    <td> Indicates the instrument or process type used during this process or process step. The processing technique can be represented by a type of instrument specified as a <a class="schema" href="https://schema.org/DefinedTerm">DefinedTerm</a> or a specific instrument represented by an <a href="{{ site.rooturl }}{{ site.baseurl }}/Instrument">Instrument</a>. </td>
  </tr>