---
permalink: /File
layout: default
title: File
root: .
description: "A Schema.org-based specification for a File in materials science and engineering. It is expected that there is only one instance of distribution. This schema is useful for uniquely describing each file that can result from a material measurement and enumerating them within hasPart of a Dataset."
---

<h1> {{ page.title }} </h1>
<h4> <a class="schema" href="https://schema.org/Thing">Thing</a> &gt; 
     <a class="schema" href="https://schema.org/CreativeWork">CreativeWork</a> &gt; 
     <a class="schema" href="https://schema.org/Dataset">Dataset</a> &gt; 
     <a href="{{ site.rooturl }}{{ site.baseurl }}/{{ page.title }}">{{ page.title }}</a>
</h4>
{% include legend.html %}
<h3>Description:</h3>
<p>{{ page.description }}</p>
<table class="table table-bordered">
    <thead> <tr class="head">
        <th>Property</th>
        <th>Expected Type</th>
        <th>Description</th>
      </tr>
    </thead> <tbody>
      <tr class="head">
        <td colspan="3">Properties from <a href="{{ site.rooturl }}{{ site.baseurl }}/{{ page.title }}">{{ page.title }}</a></td>
      </tr>
      {% include property/parameterControlled.html %}
      <tr class="head">
        <td colspan="3">Properties from <a class="schema" href="https://schema.org/Dataset">Dataset</a></td>
      </tr>
      {% include property/distribution_File.html %}
      {% include property/includedInDataCatalog.html %}
      {% include property/isBasedOn_Dataset.html %}
      {% include property/isPartOf_Dataset.html %}
      {% include property/material.html %}
      {% include property/materialExtent.html %}
      {% include property/measurementTechnique.html %}
      {% include property/variableMeasured_Dataset.html %}
      <tr class="head">
        <td colspan="3">Properties from <a class="schema" href="https://schema.org/CreativeWork">CreativeWork</a></td>
      </tr>
      {% include property/about.html %}
      {% include property/accountablePerson.html %}
      {% include property/author.html %}
      {% include property/citation.html %}
      {% include property/comment.html %}
      {% include property/contributor.html %}
      {% include property/copyrightHolder.html %}
      {% include property/creator.html %}
      {% include property/dateCreated.html %}
      {% include property/dateModified.html %}
      {% include property/datePublished.html %}
      {% include property/editor.html %}
      {% include property/funder.html %}
      {% include property/keywords.html %}
      {% include property/license.html %}
      {% include property/provider.html %}
      {% include property/publisher.html %}
      <tr class="head">
        <td colspan="3">Properties from <a class="schema" href="https://schema.org/Thing">Thing</a></td>
      </tr>
      {% include property/alternateName.html %}
      {% include property/description.html %}
      {% include property/identifier.html %}
      {% include property/name.html %}
    </tbody>
  </table>